
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #946C51;
  --contrast-color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .8s ease;
}

.container_content {
 width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
}

p{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}
.topnav {
  height: 30px
  width:30px;
  transform: translateY(50px);
  animation: slideRight .8s ease-in-out forwards 1s;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
}
.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
  padding-top: 30px;
}

.btns_more {

  border: 1px solid var(--contrast-color);
  border-radius: 50px;
  padding: 8px 12px;
  color: #BF307F;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp  ease-in-out  forwards 1s;
}

.title {
  overflow: hidden;
  height: auto;

}

.text1 {
  text-align: center;
  font-family: comic sans ms;
  padding-top: 40px;
  animation: slideIn  ease-in-out  forwards 1.5s;
  padding-bottom: 40px;

}
.text1 img{
  float: left;
  width: 130px;
  height: 60px;
  animation: slideIn  ease-in-out  forwards 2s;
}
.text2 {
  text-align: center;
  font-family: comic sans ms;
  animation: slideUp ease-in-out  forwards 1.5s;  
}
h1 {
    font-size: 40px;
    color: var(--contrast-color);
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards 1s;
}
.masuk {

  border: 1px solid black;
  border-radius: 50px;
  padding: 8px 12px;
  color: #BF307F;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp  ease-in-out  forwards 1s;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
